<div class="row" style="text-align: center; margin-top: 10%;">
  <div class="col col-center col-50 col-offset-25">
  	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="140px" height="140px" viewBox="0 0 140 140" enable-background="new 0 0 140 140" xml:space="preserve">
			<path fill="none" stroke="#ef4e3a" stroke-width="8" stroke-miterlimit="10" d="M124.992,119.406c0,6.627-5.373,12-12,12h-94.11
			c-6.627,0-12-5.373-12-12v-94.11c0-6.627,5.373-12,12-12h106.11V119.406z"/>
		</svg>
	  <h2>Connect to your CANBus Triple</h2>
	  <a class="button button-outline button-energized" ui-sref="hardware.connect">Connection Settings</a>
  </div>
</div>
