<ion-view title="{{navTitle}}" hide-back-button="true" left-buttons="leftButtons" right-buttons="rightButtons" hide-back-button="true">



	<ion-content padding="true">

		<button class="button button-positive" ng-click="sendTest()">BT Send 0101</button>

		<button class="button button-positive" ng-click="autobaud()">Auto Rate</button>

		<button class="button button-positive" ng-click="sendReset()">Reset MCU</button>

		<h1>Debug Output</h1>
		<textarea ng-bind="debugString" style="height: 300px; width:100%; background-color:white; border: solid 1px grey; height: 100vh;">
		</textarea>


	</ion-content>

</ion-view>
