<ion-view title="{{navTitle}}">

  <ion-content padding="true" class="color-assertive" hide-back-button="true">


    <md-grid-list md-cols-sm="1" md-cols-md="3" md-cols-gt-sm="3" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="24px" md-gutter-gt-sm="12px" >

        <md-grid-tile class="gray" md-rowspan="1" md-colspan="1" ng-click="updateStatus()" style="background: url(/img/cbt-outline-white.svg) center center no-repeat; background-size:contain; color:white; font-size:150%; text-align:center;">
          <p ng-if="hwState.version.name"><b>{{ hwState.version.name }}<br>{{ hwState.version.version }}</b></p>
          <md-progress-circular ng-if="!hwState.version.name && hardwareConnected" class="md-accent" md-mode="indeterminate"></md-progress-circular>
          <p ng-if="!hwState.version.name && !hardwareConnected"><b>Not Connected</b></p>
        </md-grid-tile>

        <md-grid-tile class="md-whiteframe-z2" md-rowspan="1" md-colspan="2" md-colspan-sm="1">
          <md-grid-tile-header>
            <h3>Available Firmware Builds</h3>
          </md-grid-tile-header>

          <div ng-if="builds.length < 1">
            <md-progress-circular class="md-hue-1" md-mode="indeterminate"></md-progress-circular>
          </div>


          <md-select placeholder="Pick Build Name" ng-model="selectedBuild">
            <md-option ng-repeat="build in builds" value="{{$index}}">{{build.name}}</md-option>
          </md-select>

          <md-select placeholder="Pick Build Version" ng-model="selectedBuildVersion">
            <md-option ng-repeat="b in builds[selectedBuild].builds" value="{{$index}}">{{b.build}}</md-option>
          </md-select>


          <button ng-if="builds[selectedBuild].builds[selectedBuildVersion].path && hardwareConnected" class="button" ng-click="flash(builds[selectedBuild].builds[selectedBuildVersion].path)">Flash Now</button>

        </md-grid-tile>

  </md-grid-list>






    <button ng-if="builds[selectedBuild].builds[selectedBuildVersion] && hardwareConnected" class="button" ng-click="flash(builds[selectedBuild].builds[selectedBuildVersion].path)">Flash</button>

  </ion-content>
</ion-view>
