<ion-view title="{{navTitle}}" hide-back-button="true" left-buttons="leftButtons" right-buttons="rightButtons" hide-back-button="true">

	<ion-content padding="true">

		<ul class="list">
		  <ion-toggle class="toggle-assertive"
		  						ng-repeat="item in settingsList"
                  ng-model="item.checked"
                  ng-change="item.setter( itemToggle($index) )"
                  ng-checked="item.checked">
          {{ item.text }}
        </ion-toggle>
		</ul>

	</ion-content>

</ion-view>
