/*
*	Animation
*/


.height-animation {
  -webkit-transition: 1.5s linear max-height;
  transition: 1.5s linear max-height;
	max-height: 1200px;
}

.height-animation.ng-hide {
  max-height: 0px;
}

.height-animation.ng-hide-add {
/* 	display: block!important; */
}
.height-animation.ng-hide-remove {
	display: block !important;
}



.scale-up.ng-hide-add,
.scale-up.ng-hide-remove {
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	opacity: 1;
	-webkit-transform: scale(1) rotate(0deg);
	transform: scale(1) rotate(0deg);
}

.scale-up.ng-hide {
	opacity: 0;
	-webkit-transform: scale(0.333) rotate(-24deg);
	transform: scale(0.333) rotate(-24deg);
}

.scale-up.ng-show {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
