
body,
h1,
h2,
h3,
h4,
h5 {
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, "Lucida Grande";
}

h1 {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.center {
	text-align: center;
}

.element-center {
	display: block;
	margin: 0 auto;
}

#left-menu {
	
}

#left-menu #logo {
	display: block;
	margin: 0 auto;
}





/*
*	Ionic Framework Overrides
*/


.card {
	margin-left: 0;
	margin-right: 0;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}





/*
*	Animation
*/


.height-animation {
  -webkit-transition: 1.5s linear max-height;
  transition: 1.5s linear max-height;
	max-height: 1200px;
}

.height-animation.ng-hide {
  max-height: 0px;
}

.height-animation.ng-hide-add {
/* 	display: block!important; */
} 
.height-animation.ng-hide-remove {
	display: block!important;
}















