
body,
html {
	height: 100%;
}


body,
h1,
h2,
h3,
h4,
h5 {
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, "Lucida Grande";
}

h1 {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.center {
	text-align: center;
}

.element-center {
	display: block;
	margin: 0 auto;
}

#left-menu {

}

#left-menu #logo {
	display: block;
	margin: 0 auto;
}





/*
*	Ionic Framework Overrides
*/


.card {
	margin-left: 0;
	margin-right: 0;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}


/*
*	Main Nav
*/

.side-menu .icon {
	font-size: 1.6em;
}

.side-menu .item-content {
	font-weight: bold;
	padding: 1.5em;
}





/*
*	Header left button animation
*/

ion-nav-bar {
	-webkit-transform: translate3d(0, 0, 0);
}

ion-nav-bar.nav-showing .left-buttons {
	margin-left: -20px;
}

ion-nav-bar .left-buttons {
	margin-left: 0;
	transition: margin-left 0.33s ease-out;
}


/*
*	Graphics
*/

#connection-icon {
	max-width: 100%;
}

.cbt-icon {
	margin-top: 0.2em;
	height: 2em;
	width: 2.2em;
	background: transparent url($img-cbt-outline-white) no-repeat !important;
	background-size: contain !important;
}





/*
*	Animation
*/


.height-animation {
  -webkit-transition: 1.5s linear max-height;
  transition: 1.5s linear max-height;
	max-height: 1200px;
}

.height-animation.ng-hide {
  max-height: 0px;
}

.height-animation.ng-hide-add {
/* 	display: block!important; */
}
.height-animation.ng-hide-remove {
	display: block!important;
}



/*
*		View Specific styles
*/
