
body,
html {
	height: 100%;
	-webkit-user-select: text !important;
}

.scroll {
	-webkit-user-select: text;
}

ion-nav-bar {
	display: block;
	height: 3em;
	-webkit-app-region: drag;
	position: relative;
	z-index: 9999;
	cursor: move;

	button {
		-webkit-app-region: no-drag;
		cursor: pointer;
	}
}


p {
	white-space: pre-line;
}


body,
h1,
h2,
h3,
h4,
h5 {
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, "Lucida Grande";
}

h1 {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.center {
	text-align: center;
}

.element-center {
	display: block;
	margin: 0 auto;
}

#left-menu {

}

#left-menu #logo {
	display: block;
	margin: 0 auto;
}


/*
*	Hide Input number spinner
*/
form input[type='number']::-webkit-outer-spin-button,
form input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.cbt-white-box {
	background: url(../img/cbt-outline-white.svg) center center no-repeat; background-size:contain;
}
