
#loading {

  -webkit-app-region: drag;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999999;
  background-color: $assertive;

  opacity: 1;
  filter: blur(0);
  transition: all 200ms ease-out;

  &:after {
    content: 'LOADING';
    color: white;
    display: inline-block;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 49%;
  }

  &:before {
    content: '';
    height: 22px;
    width: 22px;
    background-color: white;
    display: block;
    position: absolute;
    top: 40%;
    left: 33%;
    margin-top: 0;
    border-radius: 2px;
    border-top-right-radius: 0;
    animation: cbt-bounce 1s infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
  }

  @keyframes cbt-bounce {
    0% {
      left: 40%;
      height: 32px;
      width: 10px;
      margin-top: -5px;
    }
    20% {
      height: 22px;
      width: 22px;
      margin-top: 0;
    }
    80% {
      height: 22px;
      width: 22px;
      margin-top: 0;
    }
    100% {
      left: 60%;
      height: 32px;
      width: 10px;
      margin-top: -5px;
    }
  }

  &.fade {
    opacity: 0;
    filter: blur(32);
  }

  &.hide {
    display: none;
    visibility: hidden;
  }

}
