/*
*	CBTUserInfo
*/

.user-info {

	display: table;

	img.avatar {
		border-radius: 9999px;
		border: 3px solid #f5f5f5;
		max-height: 64px;
		max-width: 64px;
		margin: 8px;
		display: table-cell;
	}

	p {
		display: table-cell;
		vertical-align: middle;
		margin: 0;
		padding: 0;
	}

}
