<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-assertive">
    <h1 class="title">Flashing CANBus Triple</h1>
    <!-- <div class="buttons">
    	<button class="button button-clear icon ion-ios7-close-empty" ng-click="closeModal()"></button>
		</div> -->
  </ion-header-bar>

  <ion-content padding="true" scroll="true">

    <div style="position: absolute; left:50%; width:6em; margin-left:-3em;">
      <h1>{{flashProgress}}</h1>
      <md-progress-circular class="md-hue-1" md-mode="determinate" value="{{flashProgress}}">
        {{flashProgress}}
      </md-progress-circular>
      <button ng-if="flashComplete" ng-click="closeModal()" class="button">Close</button>
    </div>

  </ion-content>

</ion-modal-view>
