<?xml version='1.0' encoding='utf-8'?>
<widget id="us.canb.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CANBus Triple</name>
    <description>
        Android / iOS App for controlling your CANBus Triple via USB or Bluetooth
    </description>
    <author email="support@drifty.com" href="http://ionicframework.com/">
        Derek K etx313@gmail.com
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="false" />
</widget>
