<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>CANBus Triple</title>

    <!-- ionic css -->
    <link href="components/ionic/css/ionic.css" rel="stylesheet">

    <!-- your app's css -->
    <link href="css/base.css" rel="stylesheet">
    <link href="type/roboto.css" rel="stylesheet">

    <!-- ionic/angularjs scripts -->
    <script src="components/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's script -->
    <script src="js/lib/IntelHex.js"></script>
    <script src="js/app.js"></script>
    <script src="components/angular-local-storage/angular-local-storage.min.js"></script>
    <script src="js/services/MenuService.js"></script>
    <script src="js/services/BluetoothService.js"></script>
    <script src="js/services/SerialService.js"></script>
    <script src="js/services/HardwareService.js"></script>
    <script src="js/services/SettingsService.js"></script>
    <script src="js/services/FirmwareService.js"></script>
    <script src="js/services/UtilsService.js"></script>
    <script src="js/controllers/AppController.js"></script>
    <script src="js/controllers/DashboardController.js"></script>
    <script src="js/controllers/ConnectionController.js"></script>
    <script src="js/controllers/MenuController.js"></script>
    <script src="js/controllers/SettingsController.js"></script>
    <script src="js/controllers/DebugController.js"></script>
    <script src="js/directives/CBTSideMenu.js"></script>
    <script src="js/directives/DeviceListDirective.js"></script>
    <script src="js/directives/CBTUserInfo.js"></script>
  </head>

  <body ng-app="cbt" ng-controller="AppController">

		<cbt-side-menu>
			<ion-view>
		    <ion-content ng-controller="MenuController">
		      <ion-list>
		      	<cbt-user-info name="'Derek K'" email="'etx313@gmail.com'"></cbt-user-info>
		      	<div class="item item-divider">
					    Settings
					  </div>
		        <ion-item ng-click="goTo(item.link)" class="item item-icon-left" ng-repeat="item in list">
		          <i ng-class="item.iconClass"></i>
		          {{item.text}}
		        </ion-item>
		      </ion-list>
		     <img id='logo' src="img/cbt-outline.svg"/>
		    </ion-content>
		   </ion-view>
		</cbt-side-menu>

    <ion-nav-bar class="bar-assertive nav-title-slide-ios7" ng-class="{'nav-showing': navShowing}">
      <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="toggleMenu()">
          <i class="icon ion-navicon"></i>
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view animation="slide-left-right-ios7">
    </ion-nav-view>

  </body>
</html>
