<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>CANBus Triple</title>

    <!-- ionic css -->
    <link href="components/ionic/css/ionic.css" rel="stylesheet">

    <!-- your app's css -->
    <link href="css/base.css" rel="stylesheet">
    <link href="type/roboto.css" rel="stylesheet">

    <!-- ionic/angularjs scripts -->
    <script src="components/ionic/js/ionic.bundle.js"></script>
    <link rel="stylesheet" href="components/angular-material/angular-material.min.css">

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <script src="components/underscore/underscore.js"></script>
    <script src="js/lib/IntelHex.js"></script>
    <script src="js/lib/CANPacket.js"></script>
    <script src="js/lib/XGauge.js"></script>
    <script src="components/angular-local-storage/angular-local-storage.min.js"></script>
    <script src="components/angular-aria/angular-aria.min.js"></script>
    <script src="components/angular-material/angular-material.min.js"></script>
    <script src="js/scripts.js"></script>

  </head>

  <body ng-app="cbt" ng-controller="AppController" class="platform-android platform-cordova platform-webview">

    <ion-nav-bar class="bar-assertive nav-title-slide-ios7" ng-class="{'nav-showing': navShowing}">
      <ion-nav-buttons side="left">
        <button class="button button-clear scale-up" ng-click="toggleMenu()" ng-show="uiLarge">
          <i class="icon ion-navicon-round"></i>
        </button>
        <button ng-if="showCommandButton" class="button" ng-click="showSendCommandModal()">Serial Command</button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button button-clear icon"
                ng-class="{true: 'ion-ios-circle-filled', false: 'ion-ios-circle-outline'}[connectIcon]"
                ng-disabled="connectIconEnable"
                ng-click="connectTap()"></button>
      </ion-nav-buttons>
      <ion-nav-back-button class="button-clear">
        <i class="ion-arrow-left-c"></i> Back
      </ion-nav-back-button>
    </ion-nav-bar>

    <cbt-side-menu>
      <span ng-include="'navigation'"></span>
    </cbt-side-menu>

    <ion-side-menus>
      <!-- Center content -->
      <ion-side-menu-content>
        <ion-nav-view></ion-nav-view>
      </ion-side-menu-content>

      <!-- Left menu -->
      <ion-side-menu expose-aside-when="large">
        <span ng-include="'navigation'"></span>
      </ion-side-menu>
    </ion-side-menus>


<!-- templates -->
<script type="text/ng-template" id="navigation">
  <ion-view>
    <ion-content ng-controller="MenuController">
      <ion-list>
        <div class="item item-divider">
          Utilities
        </div>
        <ion-item ui-sref="{{item.link}}" class="item item-icon-left" ng-repeat="item in list">
          <i ng-class="item.iconClass"></i>
          {{item.text}}
        </ion-item>
        <div class="item item-divider">
          Plugins
        </div>
        <ion-item ui-sref="{{item.link}}" class="item item-icon-left" ng-repeat="item in listPlugins">
          <i ng-class="item.iconClass"></i>
          {{item.text}}
        </ion-item>
      </ion-list>
     <img id='logo' src="img/cbt-outline.svg"/>
    </ion-content>
   </ion-view>
</script>

  </body>
</html>
