
body,
h1,
h2,
h3,
h4,
h5 {
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, "Lucida Grande";
}

h1 {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.center {
	text-align: center;
}

#left-menu {
	
}

#left-menu #logo {
	display: block;
	margin: 0 auto;
}


/*
*		Colors 
*/
.color-assertive {
	background-color: #ef4e3a;
	color: white;
}