/*
*		Base Sass
* 	CANBus Triple App
*		Derek K etx313@gmail.com
*/
/*
*		Variables
* 	CANBus Triple App
*		Derek K etx313@gmail.com
*/
/*
*		Colors 
*/
.color-assertive {
  background-color: #ef4e3a; }

.type-white {
  color: white; }

.type-energized {
  color: #f0b840; }

body, html {
  height: 100%;
  -webkit-user-select: text; }

.scroll {
  -webkit-user-select: text; }

ion-nav-bar {
  -webkit-app-region: drag; }

ion-nav-view {
  -webkit-app-region: no-drag; }

body, h1, h2, h3, h4, h5 {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, "Lucida Grande"; }

h1 {
  font-weight: bold; }

.italic {
  font-style: italic; }

.center {
  text-align: center; }

.element-center {
  display: block;
  margin: 0 auto; }

#left-menu #logo {
  display: block;
  margin: 0 auto; }

/*
*	Hide Input number spinner
*/
form input[type='number']::-webkit-outer-spin-button, form input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/*
*	Ionic Framework Overrides
*/
.card {
  margin-left: 0;
  margin-right: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000; }

/*
*	Main Nav
*/
.side-menu .icon {
  font-size: 1.6em; }

.side-menu .item-content {
  font-weight: bold;
  padding: 1.5em; }

/*
*	Header left button animation
*/
ion-nav-bar {
  -webkit-transform: translate3d(0, 0, 0); }

ion-nav-bar.nav-showing .left-buttons {
  margin-left: -4px; }

ion-nav-bar .left-buttons {
  margin-left: 0;
  transition: margin-left 0.33s ease-out; }

/*
*	Graphics
*/
#connection-icon {
  max-width: 100%; }

.cbt-icon {
  margin-top: 0.2em;
  height: 2em;
  width: 2.2em;
  background: transparent url('../img//cbt-outline-white.svg') no-repeat !important;
  background-size: contain !important; }

/*
*	Animation
*/
.height-animation {
  -webkit-transition: 1.5s linear max-height;
  transition: 1.5s linear max-height;
  max-height: 1200px; }

.height-animation.ng-hide {
  max-height: 0px; }

.height-animation.ng-hide-add {
  /* 	display: block!important; */ }

.height-animation.ng-hide-remove {
  display: block !important; }

md-grid-tile {
  background-color: white; }

md-grid-tile-header h3 {
  font-weight: 900;
  font-style: italic;
  font-size: 200%;
  color: #282828; }

/*
*		Module Styles
*/
table.pid-table {
  width: 100%;
  border: solid 1px #efefef;
  background-color: #f8f8f8;
  text-align: left; }
  table.pid-table th {
    font-size: 1.5em;
    font-weight: light;
    padding: 0.3em;
    color: #b1b1b1; }
  table.pid-table td {
    padding: 0.5em;
    border: solid 1px #efefef;
    color: #5a6065; }

/*
*	CBTUserInfo
*/
.user-info {
  display: table; }
  .user-info img.avatar {
    border-radius: 9999px;
    border: 3px solid #f5f5f5;
    max-height: 64px;
    max-width: 64px;
    margin: 8px;
    display: table-cell; }
  .user-info p {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding: 0; }

/*
*	CBTSideMenu
*/
.side-menu {
  position: absolute;
  left: 0;
  top: 44px;
  display: block;
  height: 100%;
  min-height: 100%;
  z-index: 9900; }
  .side-menu .has-header {
    top: 0; }
  .side-menu #panel {
    display: block;
    position: absolute;
    left: 0;
    height: 100%;
    width: 80%;
    max-width: 380px;
    z-index: 9901;
    box-shadow: 2px 4px 5px rgba(50, 50, 50, 0.4);
    -webkit-transform: translate3d(-300px, 0px, 0); }
  .side-menu img#logo {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 8em;
    height: 8em; }
